<h1>質問一覧</h1>
  
    <% @questions.each do |question| %>
      <div class="questions">
        <%= question.content %>
        <a href="<%= question.url %>" class="question_url"><%= question.url %></a>
      </div>  
      
      <%= form_for Answer.new, url: question_answers_path(question.id) do |f| %>
      <% if false %>
        <% if @answer.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% @answer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% end %>
        <%= f.text_field :content, class: "form-control" %>
        <br>
        <%= f.submit '回答する', class: 'btn btn-primary' %>
      <% end %>
      
      <% question.answers.each do |answer| %>
       <%= answer.content %>
      <% end %>
      
    <% end %>  
    
    

<br>

<%= link_to '質問作成', new_question_path %>
